@use 'base/variables';
@use 'base/mixins';
.iconos {
  margin-top: 5rem;
  .listado-iconos {
    @include mixins.desktop {
      @include mixins.gridColumn(3, 2rem);
    }

    li {
      img {
        margin: 0 auto;
        width: 12rem;
      }
      p {
        font-size: 3.2rem;
        color: variables.$primario;
        font-weight: 600;
      }
    }
  }
}
